<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Corona</title>
</head>

<body>

    <!-- 그래프가 표시되는 영역 -->

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ x }},
            datasets: [{
                label: '# of Votes',
                data: {{ y }},
            borderWidth: 1
            }]
          },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });
    </script>

    <!-- corona 데이터를 table로 표시 -->
    <table border="1">
        <!-- 컬럼부분 -->
        <thead>
            {% for col in columns %}
            <th>
                {{ col }}
            </th>
            {% endfor %}
        </thead>
        <tbody>
            <!-- 
                data -> {
                    '인덱스' : [0,1,2,3,4],
                    '등록일시 :'[202201, 202202, ......],
                    ......
                }
             -->
            {% for i in range(cnt) %}
            <tr>
                {% for col in columns %}
                <td>
                    {{ data[col][i] }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>